 /* profile view style*/
 .custom-italic {
  font-style: italic;
 }
 
 /* img home page */
.img-custom {
    width: 70%;
    height: auto;
  }

/* footer materialize */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

}
