 /* profile view style*/
 .custom-italic {
  font-style: italic;
 }
 
 /* img home page */
.img-custom {
    width: 70%;
    height: auto;
  }

/* footer materialize */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Media Queries */
/* mobile */
@media only screen and (min-width: 200px) {
  .img-custom {
    width: 20%;
    height: 20%;
  }
  h3, h5 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 320px) {
  .img-custom {
    width: 100%;
    height: 100%;
  }
  h3, h5 {
    font-size: 1.3rem;
  }
}
/* tablet */
@media only screen and (min-width: 780px) {
  .img-custom {
    width: 50%;
    height: auto;
  }
}
/* laptop */
@media only screen and (min-width: 1200px) {
  .img-custom {
    width: 50%;
    height: auto;
  }
}
/* desktop */
@media only screen and (min-width: 1600px) {
  .img-custom {
    width: 50%;
    height: auto;
  }
}
