{% extends "base.html" %}
{% block content %}

<h3 class="deep-purple-text text-darken-4 center-align">Book details</h3>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
          <img src="{{ book.book_cover_url }}" alt="book cover">
      </div>
      <div class="card-stacked">
          <div class="card-content">
              <h4 class="header">{{ book.book_title }}</h4>
              <h5 class="header">by {{ book.book_author_name }}</h5>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  {% if source_route == "add" %}
  <form class="col s12" action="{{ url_for('add_review', book_id=book._id) }}" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="user_review" name="user_review" class="materialize-textarea" required></textarea>
        <label for="user_review" class="deep-purple-text text-darken-4">Write a review here!</label>
      </div>
    </div>
    <div class="row">
      <button type="submit" id="review_save" name="review_save" class="col s12 btn-large deep-purple darken-4 text-shadow">
          Post Review<i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="row">
      <div class="col s12">
        <h5 class="center-align">
              <a href="{{ url_for('add_review', book_id=book._id) }}" class="deep-purple-text text-darken-4">Reset</a>
        </h5>
      </div>
    </div>
  </form>  
  {% endif %}  
  {% if source_route == "edit" %}
  <form class="col s12" action="{{ url_for('edit_review', book_id=book._id) }}" method="POST">  
    <div class="row">
      <div class="input-field col s12">
        <textarea id="user_review" name="user_review" class="materialize-textarea" required>{{ review_j2.review_text }}</textarea>
        <label for="user_review" class="deep-purple-text text-darken-4">Edit a review here!</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6 m3">
        <button type="submit" id="update_review" name="update_review" class="col s12 btn-small deep-purple darken-1 text-shadow">
            Update Review <i class="material-icons"></i>
        </button>
      </div>
      <div class="col s6 m3">
        <button type="submit" id="delete_review" name="delete_review" class="col s12 btn-small deep-purple darken-1 text-shadow">
            Delete Review <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
