{% extends "base.html" %}
{% block content %}
<h3 class="deep-purple-text text-darken-4 center-align "><i>Discover your next great book!</i></h3>
<p class="deep-purple-text text-darken-4 center-align">
    <strong>Book Tips</strong> compiles the best and most popular books and creative reviews.
    It’s a fun and interactive way to geek out over your favorite reads and discover all the coolest new titles you won’t find anywhere else. 
</p>

<!-- search -->
<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix deep-purple-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Books</label>
            </div>
            <div class="col s12 m4">
                <button type="reset" class="s3 light-blue darken-4 btn text-shadow">
                    Reset
                </button>
                <button type="submit" class="s3 deep-purple darken-1 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    {% for book in books %}
    <div class="col s12 m6 l4">
        <div class="card large">
            <div class="card-image img-custom">
                <a href="{{ url_for("book_view", book_id=book._id) }}">
                    <img src="{{ book.book_cover_url }}" class="img-custom">
                </a>
            </div>
            <div class="card-content">
                <span class="card-title"><a href="{{ url_for("book_view", book_id=book._id) }}" class="deep-purple-text text-darken-1">{{ book.book_title }}</a></span>
                <span class="card-title">{{ book.book_author_name }}</span>
                <span ><a href="{{ url_for("book_view", book_id=book._id) }}" class="deep-purple-text text-darken-4"><strong>READ THE REVIEW></strong></a></span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% if books|length == 0 %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}
{% endblock %}