{% extends "base.html" %}
{% block content %}
{% if book %}
<h3 class="deep-purple-text text-darken-4 center-align">Book details</h3>
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ book.book_cover_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4 class="header">{{ book.book_title }}</h4>
                    <h5 class="header">by {{ book.book_author_name }}</h5>
                    <br>
                    {% if book.book_isbn %}
                    ISBN: {{ book.book_isbn }} <br>
                    {% endif %}
                    <div class="row">
                        <div class="col s12">
                            Total reviews
                        </div>
                    </div>
                    <hr>
                    <p>
                        {% if book.book_description %}
                        {{ book.book_description }}
                        {% else %}
                        This book does not have a description yet.
                        {% endif %}
                    </p>

                </div>
                <div class="card-action">
                    <a href="{{ url_for('add_review', book_id=book._id) }}" class="col s12 m3 btn-small deep-purple darken-1 text-shadow">
                     Write a review!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reviews -->
<h5>REVIEWS:</h5>
{% for review in reviews %}
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ review.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                 <h5>{{ review.username }}</h5>   
                <p>{{ review.review_text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}           
{% else %}
<h3> This book is not in the database.</h3>
{% endif %}
{% endblock %}
