{% extends "base.html" %}
{% block content %}
{% if book %}
<h3 class="light-blue-text text-darken-4 center-align">Book details</h3>
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ book.book_cover_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4 class="header">{{ book.book_title }}</h4>
                    <h5 class="header">by {{ book.book_author_name }}</h5>
                    <div class="row">
                        <div class="col s12">
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                        </div>
                    </div>
                      <br>
                    {% if book.book_isbn %}
                    ISBN: {{ book.book_isbn }} <br>
                    {% endif %}
                    <div class="row">
                        <div class="col s12">
                            Total reviews
                        </div>
                    </div>
                    <hr>
                    <p>
                        {% if book.book_description %}
                        {{ book.book_description }}
                        {% else %}
                        This book does not have a description yet.
                        {% endif %}
                    </p>

                </div>
                <div class="card-action">
<!-- Reviews -->
<h5>REVIEWS:</h5>
{% for review in reviews %}
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ review.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                 <h5>{{ review.username }}</h5>   
                <p>{{ review.review_text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h3> This book is not in the database.</h3>
{% endif %}
{% endblock %}
