{% extends "base.html" %}
{% block content %}
<h3 class="center-align deep-purple-text text-darken-4">{{ data_template.username }}'s Profile</h3>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                  <img width="100" alt={{ data_template.username }} class="profilePictureIcon circularIcon circularIcon--huge circularIcon--border circle responsive-img" src="{{ data_template.img_url }}">
                </div>
                  <div class="col s10">
                    <span class="black-text">
                    This is a square image. Add the "circle" class to it to make it appear circular.
                    </span>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <h3 class="center-align deep-purple-text text-darken-4">{{ data_template.user_firstname }} {{ data_template.user_lastname }}</h3><br>
    <h3 class="center-align deep-purple-text text-darken-4">{{ data_template.user_email }}</h3>

    <h3 class="center-align deep-purple-text text-darken-4">{{ data_template.user_firstname }}'s RECENT REVIEWS</h3><br>

    <div class="row">
      <div class="col s12">
          <p class="center-align">
            <a href="{{ url_for('profile_edit', username=data_template.username) }}" class="deep-purple-text text-darken-4">EDIT Profile</a>
          </p>
      </div>
  </div>

{% endblock %}