{% extends "base.html" %}
{% block content %}
<h3 class="center-align deep-purple-text text-darken-4">{{ data_template.username }}'s DISPLAY PROFILE</h3>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
              <div class="row valign-wrapper">
                <div class="col s12">
                  <img width="100" class="profilePictureIcon circularIcon circularIcon--huge circularIcon--border circle responsive-img" src="{{ data_template.img_url }}" alt="user profile picture"><br>
                  <!-- Edit profile -->         
                  <a href="{{ url_for('profile_edit') }}" class="col s12 m6 btn-small deep-purple darken-1 text-shadow">EDIT PROFILE</a>
                </div>
                <div class="col s10">
                    <h5 class="deep-purple-text text-darken-4">Full name: {{ data_template.user_firstname }} {{ data_template.user_lastname }}</h5>
                    <h5 class="deep-purple-text text-darken-4">Email: {{ data_template.user_email }}</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
    <h5 class="center-align deep-purple-text text-darken-4">{{ data_template.username }}'s RECENT UPDATES: </h5><br>
    <!-- Books added by user -->
    <h5 class="header deep-purple-text text-darken-4">Books added</h5>
    <div class="row">
      {% for book in books %}
      <div class="col s12 m6 l4">
          <div class="card large">
              <div class="card-image img-custom">
                  <a href="{{ url_for("book_view", book_id=book._id) }}">
                      <img src="{{ book.book_cover_url }}" class="img-custom" alt="book cover">
                  </a>
              </div>
              <div class="card-content">
                  <span class="card-title"><a href="{{ url_for("book_view", book_id=book._id) }}" class="deep-purple-text text-darken-1">{{ book.book_title }}</a></span>
                  <span class="card-title">{{ book.book_author_name }}</span>
                  <div class="row">
                    <div class="col s12 m6">
                      <a href="{{ url_for('edit_book', book_id=book._id) }}" class="col s12 btn-small deep-purple darken-1 text-shadow">
                        EDIT
                      </a>
                  </div>
                    <div class="col s12 m6">
                      <form action="{{ url_for('delete_book', book_id=book._id) }}" method="POST">
                        <button type="submit" name="delete_book" class="col s12 btn-small deep-purple darken-1 text-shadow">
                            DELETE
                        </button>
                      </form>
                    </div>  
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
      <!-- Reviews added by user --> 
    <h5 class="header deep-purple-text text-darken-4">Reviews added</h5>         
    {% for review in reviews %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ data_template.img_url }}" alt="user profile picture">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                     <h5>{{ data_template.username }}</h5> 
                     <h6 class="deep-purple-text text-darken-4 "><span class="deep-purple-text text-lightn-5 custom-italic">Book name:</span> {{ review.book_title }}</h6><hr>  
                    <p class="deep-purple-text text-darken-4"><span class="deep-purple-text text-lightn-5 custom-italic">Review:</span> </p><p>{{ review.review_text }}</p>
                    <div class="row">
                      <div class="col s12 m2">
                        <a href="{{ url_for('edit_review', book_id=review.book_id) }}" class="col s12 btn-small deep-purple darken-1 text-shadow">
                          EDIT
                        </a>
                      </div>
                      <div class="col s12 m2">
                        <a href="{{ url_for('delete_review', book_id=review.book_id) }}" class="col s12 btn-small deep-purple darken-1 text-shadow">
                          DELETE
                        </a>
                      </div>  
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
